<footer class="saa-footer">
    <nav class="<%= ENV['SHOW_DEMO_WARNING'].present? ? 'has-warning' : '' %>">
        <a href="https://www.orau.org/privacy-security.htm" target="_blank">Privacy/Security Notice</a>
        <%# 
        #feature hidden for last official release
        &nbsp;|&nbsp;
        <a href="/contact_us" target="_blank">Contact Us</a> %>
    </nav>
</footer>